body {
  margin:0;
  color:#e5e5e5;
  background:#fb7185;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

code {
  font-family:source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::placeholder {
  color:#222222;
  font-style:italic;
}

:focus {
  outline:none !important;
}

.hvr-cursor-default:hover {
  cursor:default;
}

.hvr-cursor-pointer:hover {
  cursor:pointer;
}
